<div class="main-header container-fluid">
  <h1 class="text-header title">Login</h1>
</div>
<div class="row container">
  <div class="col-sm-6 col-md-offset-4">
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
      </div>

      <button type="submit">Login</button>
      <h4><a href="/signup">Don't have an account yet? signup!</a></h4>
    </form>
  </div>
</div>

<% if (typeof errorMessage !== "undefined") { %>
   <div class="error-message"><%= errorMessage %></div>
 <% } %>
