<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">

    <!-- Custom CSS -->
    <link href="/stylesheets/stylish-portfolio.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- JavaScript -->
    <script src="/vendor/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/stylish-template.js"></script>
    <!--script type="text/javascript" src="/javascripts/stylish-template.js"></script-->
  </body>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <!-- Navigation -->
  <a id="menu-toggle" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
          <li class="sidebar-brand">
              <a onclick=$("#menu-close").click();>Common Plans</a>
          </li>
          <li>
              <a href="/" onclick=$("#menu-close").click();>Home</a>
          </li>
          <li>
              <a href="/place" onclick=$("#menu-close").click();>Places</a>
          </li>
          <li>
              <a href="/event" onclick=$("#menu-close").click();>Events</a>
          </li>
          <% if(user){ %>
          <li>
              <a href="/user/<%= user._id %>" onclick=$("#menu-close").click();>My Profile</a>
          </li>
          <li>
              <a href="/user/<%= user._id %>/edit" onclick=$("#menu-close").click();>Edit Profile</a>
          </li>
          <li>
              <a href="/logout" onclick=$("#menu-close").click();>Logout</a>
          </li>
          <% } else { %>
          <li>
              <a href="/login" onclick=$("#menu-close").click();>Login</a>
          </li>
          <li>
              <a href="/signup" onclick=$("#menu-close").click();>Sign up</a>
          </li>
          <% } %>
      </ul>
  </nav>

  <%- body %>
</body>

<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
</html>
