body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#map {
  width: 100%;
  height: 400px;
}

#map-intro {
  width: 50%;
  height: 200px;
}
#map-event {
  width: 50%;
  height: 200px;
}

.btn-default {
  background-image: none;
}
