body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#map {
  width: 100%;
  height: 400px;
}

#map-intro {
  width: 100%;
  height: 400px;
}


.btn-default {
  background-image: none;
}

.center {
  text-align: center;
}

#profile-image {
  width: 140px;
}

#top, .profile {
  background: darkcyan;
}

.profile {
  padding: 10px;
}
