<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div id="map"></div>

<script type="text/javascript">
 var myPlaces = <%- JSON.stringify(places) %>;
 </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiaRwHqB7k_4QpmPWiPdXWAAutNW_wiC4"></script>
<script type="text/javascript" src="/javascripts/place.js"></script>
